<!DOCTYPE html>
%html
  %head
    %title= @meta_tags["og:title"]

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js")

    = meta_tags
    = stylesheets
    = javascript
  %body
    .page-content{ class: "#{action}-action" }
      = yield
      .love-link Made with <a href="http://www.tomprats.com/love">Love</a>
